@charset "UTF-8";
    


.framebannerbg:before {
top : 0px;
right : 0px;
position : absolute;
content : url("https://fwstyle.herokuapp.com/shopa");
width : 350px;
height : 75px;
opacity : 0.5;}
.framebannerbg:after {
top : 0px;
right : 350px;
position : absolute;
content : url("https://fwstyle.herokuapp.com/shopb");
width : 350px;
height : 75px;
opacity : 0.5;}

img[src$="fastview.gif"],img[src$="close.gif"],img[src$="fadenkreuz.gif"]{
  filter: invert(1);
}







