@charset "UTF-8";
@import url('./style/symbol.css');

/* Inventar-Platzschaffende �nderungen */

p.listcaption + p.listrow .small b + b 		{ margin: 0 0 0 -6px; }
p.listcaption + p.listrow .small b + b:before 	{ content: " | "; background: #3d3d3D; }

p.listcaption + p + p + p + p + p + p + p.listrow .valueincreased, p.listcaption + p + p + p + p + p + p + p + p.listrow .valueincreased, p.listcaption + p + p + p + p + p + p + p + p + p.listrow .valueincreased { display:inline-block; width:150px; }
p.listcaption + p + p + p + p + p + p + p.listrow, p.listcaption + p + p + p + p + p + p + p + p.listrow, p.listcaption + p + p + p + p + p + p + p + p +p.listrow { overflow:hidden; white-space:nowrap; }

/* Modified by Cembon */
p[title~="Zustand:"] a { font-size: 0; }
p[title~="Zustand:"] a:before { content: "Waffe"; font-size: 12px; }

.valueincreased 				{color: lightgreen; font-size: smaller;}
.framemapbg td[id^="map"] a:after {
    z-index: 2; width: 50px; position: absolute; left: 0px; top: 0px; line-height: 120%; font-size: 10px; font-weight: bold; text-align: center; color: #fff; background: #282828; border-bottom: 1px solid #282828; opacity: 0.70; -moz-border-radius-bottomleft: 6px; -moz-border-radius-bottomright: 6px; -webkit-border-bottom-left-radius: 6px; -webkit-border-bottom-right-radius: 6px;
}

#listrow_special a {
    width: 0;
    display: inline-block;
    font-size: 0
}

#listrow_special a:before {
    font-size: 12px;
    content: "Spezial"
}

a[href*="main.php?action=take&"], .fastattack, .fastchase{font-size:12px}



.framebannerbg:before {
top : 0px;
right : 0px;
position : absolute;
content : url("https://fwstyle.herokuapp.com/shopa");
width : 350px;
height : 75px;
opacity : 0.5;}
.framebannerbg:after {
top : 0px;
right : 350px;
position : absolute;
content : url("https://fwstyle.herokuapp.com/shopb");
width : 350px;
height : 75px;
opacity : 0.5;}

img[src$="fastview.gif"],img[src$="close.gif"],img[src$="fadenkreuz.gif"]{
  filter: invert(1);
}
